#canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#video {
  position: fixed;
  top: 0;
  left: 0;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
  background-color: #ffffff;
}
body,html{
  background: #000000;
  color:#fff;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
